li {
    float: left;
    display: block;
    width: 100px;
    height: 100px;
    margin: 5px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
li.red {
    background-color: red;
}
li.blue {
    background-color: blue;
}
li.green {
    background-color: green;
}
li.purple {
    background-color: purple;
}
li.cyan {
    background-color: cyan;
}

li.animate {
    opacity: .5;
}

li.ready {
    opacity: 1;
}