li {
    float: left;
    display: block;
    width: 100px;
    height: 100px;
    margin: 5px;
    opacity: 1;
}
li.red {
    background-color: red;
}
li.blue {
    background-color: blue;
}
li.green {
    background-color: green;
}
li.purple {
    background-color: purple;
}
li.cyan {
    background-color: cyan;
}
li.yellow {
    background-color: yellow;
}
li.magenta {
    background-color: magenta;
}
li.orange {
    background-color: orange;
}
li.chartreuse {
    background-color: chartreuse;
}

ul.easy li {
    transition: opacity 1.3s ease-in-out;
}
ul.normal li {
    transition: opacity 1s ease-in-out;
}
ul.hard li {
    transition: opacity 0.7s ease-in-out;
}

li.progress {
    opacity: .1;
}

li.ready {
    opacity: 1;
}